*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: white;
    display: flex;
    place-items: center;
    height: 100vh;
    width: 50%;
    margin: auto;
}

main{
    display: grid;
    grid-template-areas: 
    'a a  b'
    'c d d'
    'c e e'
    ;
    gap: 5px;
}

main div{
    padding: 2em;
}

.nav {
    list-style-type: none;
    text-decoration: none;
    position: relative;
    top: 10px;
    text-align: center;
    color:hsl(179, 100%, 13%);
}

nav:hover {
    color: hsl(31, 77%, 52%);
}

.item-a{
    background-color: rgb(255, 72, 0);
    grid-area: a;
}

.item-b{
    background-color: orange;
    grid-area: b;
}

.item-c{
    background-color: rgb(11, 138, 11);
    grid-area: c;
}
.item-d{
    background-color: rgb(3, 111, 184);
    grid-area: d;
}
.item-e{
    background-color: rgb(3, 111, 184);
    grid-area: e;
}
